.header {
	background: transparent;
	border: none;
	box-shadow: none;
}

.header-toolbar {
	--background: transparent;
	border: none;
	box-shadow: none;
}

.content{
    background: transparent;
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 20%;
  }
  
  .content-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border:0;
    font-weight: bold;
  }