.content {
  --background: url('/assets/images/bg-firstlogin.png') no-repeat center center / cover;
}

.footer {
  background: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 16px;
}

.footer-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.login-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  --background: #00b14f;
  --color: white;
  margin-bottom: 14px;
  text-transform: capitalize;
  font-weight: bold;
}

.signup-button {
  width: 100%;
  height: 50px;
  font-size: 14px;
  --background: #e8f8f1;
  --color: #3d3950;
  --border-color: transparent;
  text-transform: capitalize;
  font-weight: bold;
}