<ion-header class="header"> 
</ion-header>

<ion-content [fullscreen]="true" class="content" Scroll-y="true">
  

  <ng-container *ngIf="selectedValue === 'home'">
    <!-- <ion-searchbar #searchBar placeholder="sushi" showCancelButton="focus" (ionInput)="handleInput($event)" style="margin-top: 60px;" />
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content/>
    </ion-refresher>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let item of result">
            <ion-card class="content-card">
              <img [src]="item.image" alt="{{item.title}}">
              <ion-card-header>
                <ion-card-title>{{item.title}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content> -->

    <ion-searchbar #searchBar placeholder="sushi" showCancelButton="focus" (ionInput)="handleInput($event)" style="margin-top: 60px;" />
    <ion-grid>
      <ion-row>
        <ion-col style="display: flex; flex-direction: column; width:25%;" >
          <ion-button  style="--background: transparent; --box-shadow: none;">
            <div>
              <ion-icon name="car-sport" style="font-size:48px; color: #00b14f;"/>
              <p style="text-align: center; font-size:10px; text-transform: capitalize; color: black;">Transport</p>
            </div>
          </ion-button> 
        </ion-col>
        <ion-col style="display: flex; flex-direction: column; width:25%;" >
          <ion-button routerLink="/food" style="--background: transparent; --box-shadow: none;">
            <div>
              <ion-icon name="fast-food" style="font-size:48px; color: #00b14f;"/>
              <p style="text-align: center; font-size:10px; text-transform: capitalize; color: black;">Food</p>
            </div>
          </ion-button> 
        </ion-col>
        <ion-col style="display: flex; flex-direction: column; width:25%;" >
          <ion-button  style="--background: transparent; --box-shadow: none;">
            <div>
              <ion-icon name="basket" style="font-size:48px; color: #00b14f;"/>
              <p style="text-align: center; font-size:10px; text-transform: capitalize; color: black;">Mart</p>
            </div>
          </ion-button> 
        </ion-col>
        <ion-col style="display: flex; flex-direction: column; width:25%;" >
          <ion-button  style="--background: transparent; --box-shadow: none;">
            <div>
              <ion-icon name="cube" style="font-size:48px; color: #00b14f;"/>
              <p style="text-align: center; font-size:10px; text-transform: capitalize; color: black;">All</p>
            </div>
          </ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-segment [scrollable]="true"  style="padding: 5px; display:flex; gap:10px;">
          <ion-segment-button value="balance" style="--indicator-color: transparent; width:120px; height: 60px;">
            <div style="display:flex; flex-direction: column; position:relative; background:#9a9a9a29; width:120px; height: 60px; border-radius: 5px;"> 
              <p style="font-size: 13px; text-transform: capitalize; color: #494949; position:absolute;top:0;left:12px;">Balance</p>
              <p style="font-size: 14px; text-transform: capitalize; color: #000000; font-weight:bold; position:absolute;bottom:0;left:12px;">200.00</p>
              <ion-icon name="cash" style="font-size: 24px; color: #00b14f; position:absolute;bottom:12px;right:12px;"/>
            </div>
          </ion-segment-button>
          <ion-segment-button value="Discover" style="--indicator-color: transparent; width:160px; height: 60px;">
            <div style="display:flex; flex-direction: column; position:relative; background:#9a9a9a29; width:160px; height: 60px; border-radius: 5px;">
              <p style="font-size: 13px; text-transform: capitalize; color: #494949; position:absolute;top:0;left:12px;">Discover</p>
              <p style="font-size: 14px; text-transform: capitalize; color: #000000; font-weight:bold; position:absolute;bottom:0;left:12px;">Dine Out Deals</p>
              <ion-icon name="pizza" style="font-size: 24px; color: #00b14f; position:absolute;bottom:12px;right:12px;"/>
            </div>
          </ion-segment-button>
          <ion-segment-button value="GrabRewards" style=" --indicator-color: transparent; width:140px; height: 60px;">
            <div style="display:flex; flex-direction: column; position:relative; background:#9a9a9a29; width:140px; height: 60px; border-radius: 5px;">
              <p style="font-size: 13px; text-transform: capitalize; color: #494949; position:absolute;top:0;left:12px;">GrabRewards</p>
              <p style="font-size: 14px; text-transform: capitalize; color: #000000; font-weight:bold; position:absolute;bottom:0;left:12px;">0</p>
              <ion-icon name="logo-bitcoin" style="font-size: 24px; color: #00b14f; position:absolute;bottom:12px;right:12px;"/>
            </div>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <ion-row  style="display: flex; margin-top:12px;">
        <ion-title style="font-size:16px; margin-bottom:6px;">Restaurants you may like</ion-title>
        <ion-icon name="arrow-forward-outline" style="font-size:24px; padding-right:10px;"/>
        
        <ion-segment [scrollable]="true"  style="padding: 5px; display:flex; gap:10px;">
          <ion-segment-button *ngFor="let item of result" value="food1" style="--indicator-color: transparent; width:180px; height: 240px;">
            <div  style="display: flex; flex-direction: column; position: relative; background: #eaeaea; width: 180px; height: 240px; border-radius: 5px; padding: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
              <img [src]="item.image" alt="{{item.title}}" style="height: 160px; width: 160px; border-radius: 5px; object-fit: cover; margin-bottom: 10px;">
            
              <p style="font-size: 14px; font-weight: bold; color: #333; margin: 0; text-align: left;">{{item.title}}</p>
              <ion-row style="padding-right: 5px;">
                <ion-col size="6">
                  <p style="font-size: 12px; color: #777; margin: 0; text-align: left;">{{item.distance}} km</p>
                </ion-col>
                <ion-col size="6">
                  <p style="font-size: 12px; color: #777; margin: 0; text-align: right;">Rating: {{item.rating}}</p>
                </ion-col>
              </ion-row>

              
            </div>
          </ion-segment-button> 
        </ion-segment>
      </ion-row>
    </ion-grid>


  </ng-container>

  <ng-container *ngIf="selectedValue === 'reader-outline'">
    <ion-card-content>
      <div>
        <h2>Activity Page</h2>

      </div>
    </ion-card-content>
  </ng-container>

  <ng-container *ngIf="selectedValue === 'wallet-outline'">
    <ion-card-content>
      <div>
        <h2>Payment Page</h2>

      </div>
    </ion-card-content>
  </ng-container>

  <ng-container *ngIf="selectedValue === 'chatbox-ellipses-outline'">
    <ion-card-content>
      <div>
        <h2>Message Page</h2>

      </div>
    </ion-card-content>
  </ng-container>
</ion-content>

<ion-footer class="footer">
  <ion-segment (ionSelect)="onSegmentChange($event)" [scrollable]="true" [value]="selectedValue">
    <ion-segment-button value="home" class="footer-btn" style="--indicator-color: transparent;">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <ion-icon [name]="selectedValue === 'home' ? 'home' : 'home-outline'" style="font-size: 24px;"/>
        Home
      </div>
    </ion-segment-button>
    <ion-segment-button value="reader-outline" class="footer-btn" style="--indicator-color: transparent;">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <ion-icon [name]="selectedValue === 'reader-outline' ? 'reader' : 'reader-outline'" style="font-size: 24px;"/>
        Activity
      </div>
    </ion-segment-button>
    <ion-segment-button value="wallet-outline" class="footer-btn" style="--indicator-color: transparent;">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <ion-icon [name]="selectedValue === 'wallet-outline' ? 'wallet' : 'wallet-outline'" style="font-size: 24px;"/>
        Payment
      </div>
    </ion-segment-button>
    <ion-segment-button value="chatbox-ellipses-outline" class="footer-btn" style="--indicator-color: transparent;">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <ion-icon [name]="selectedValue === 'chatbox-ellipses-outline' ? 'chatbox-ellipses' : 'chatbox-ellipses-outline'" style="font-size: 24px;"/>
        Message
      </div>
    </ion-segment-button>
    <ion-segment-button (click)="goBack()" value="person-circle-outline" class="footer-btn" style="--indicator-color: transparent;">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <ion-icon [name]="selectedValue === 'person-circle-outline' ? 'person-circle' : 'person-circle-outline'" style="font-size: 24px;"/>
        Account
      </div>
    </ion-segment-button>
  </ion-segment>
</ion-footer>